<p> Page index des slots</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Status</th>
      <!-- Ajoutez d'autres en-têtes de colonne au besoin -->
    </tr>
  </thead>
  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%= link_to slot.start_time, slot_path(slot) %></td>
        <td><%= link_to slot.end_time, slot_path(slot) %></td>
        <td><%= link_to slot.status, slot_path(slot) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "ajouter un créneau", new_slot_path %>
