


<div class="container-fluid bg"
  style=
    "background-image: url('<%= asset_path('espace.jpg') %>');
    background-size: cover;
    background-position: center;">

  <div class="row">
    <div class= "col-12 d-flex justify-content-center align-items-center"  style="height: 80vh;">
      <div class="center-div text-center">
        <h1>RISERV</h1>
        <form class="row g-3">
          <div class="col-auto">
            <input type="text" class="form-control form-control-lg" id="searchInput">
          </div>
          <div class="col-auto">
            <%= link_to "recherche", "javascript:void(0)", data: { url: recherche_path(recherche: '') }, onclick: "performSearch()", class: "btn btn-secondary btn-lg" %>
          </div>
        </form>
      </div>
    </div>
  </div>

  


</div>



<script>
  function performSearch() {
    // Récupérer l'URL de l'élément attribut data
    var url = document.querySelector("[data-url]").getAttribute("data-url");
    // Récupérer la valeur du champ de texte
    var searchText = document.getElementById('searchInput').value;
    if(searchText === ""){
      searchText = "all"
    }
    // Modifier l'URL avec la valeur saisie
    var searchUrl = url + encodeURIComponent(searchText);
    // Rediriger vers la nouvelle URL
    window.location.href = searchUrl;
  }
</script>
