<div class="container">
  <h1>Résultats de recherche pour "<%= @text %>"</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <!-- Ajoutez d'autres en-têtes de colonne au besoin -->
      </tr>
    </thead>
    <tbody>
      <% @enterprises.each do |enterprise| %>
        <tr>
          <td>
            <%= link_to enterprise.name, enterprise_services_path(enterprise.id) %>
          </td>
          <td>
            <%= link_to enterprise.address, enterprise_services_path(enterprise.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
