
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Résultats de recherche</title>
  <style>
    /* Styles personnalisés :P  */
    body {
      font-family: Arial, sans-serif;
      background-color: #f8f9fa;
      margin: 0;
      padding: 0;
    }
    .container {
      margin-top: 50px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 15px;
    }
    h1 {
      color: #333; 
      margin-bottom: 20px;
      text-align: center;
    }
    table {
      background-color: #fff;
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #6c757d;
      color: #fff;
    }
    tr:nth-child(even) {
      background-color: #f8f9fa;
    }
    tr:hover {
      background-color: #e9ecef;
    }
    a {
      text-decoration: none;
      color: #007bff;
      transition: color 0.3s ease;
    }
    a:hover {
      color: #0056b3;
    }
  </style>
</head>
<body>

<div class="container">
  <h1>Résultats de recherche pour "<%= @text %>"</h1>
  <table>
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
      </tr>
    </thead>
    <tbody>
      <% @enterprises.each do |enterprise| %>
        <tr>
          <td>
            <%= link_to enterprise.name, enterprise_services_path(enterprise.id) %>
          </td>
          <td>
            <%= link_to enterprise.address, enterprise_services_path(enterprise.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
