<div class="container">
  <h1>Mes Réservations</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Service</th>
        <!-- Ajoutez d'autres en-têtes de colonne au besoin -->
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= link_to reservation.slot.start_time, enterprise_reservation_path(Service.find(reservation.service_id).enterprise_id, reservation)%></td>
          <td><%= link_to reservation.slot.end_time, enterprise_reservation_path(Service.find(reservation.service_id).enterprise_id, reservation) %></td>
          <td><%= link_to reservation.service.title, enterprise_reservation_path(Service.find(reservation.service_id).enterprise_id, reservation) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
