<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th>Content</th>
        <td><%= @review.content %></td>
      </tr>
      <!-- Ajoutez d'autres détails de réservation au besoin -->
    </tbody>
  </table>


    
</div>
