<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th>Content</th>
        <td><%= @review.content %></td>
      </tr>
      <!-- Ajoutez d'autres détails de réservation au besoin -->
    </tbody>
  </table>


    <%= button_to 'Supprimer', enterprise_review_path(@review.enterprise_id, @review), method: :delete,
          data: {"turbo_method": :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %><br/>

  <% if @review.user_id == current_user.id %>
    <%= link_to "MODIFIER", edit_enterprise_review_path(@review.enterprise_id, @review), class: "btn btn-secondary" %>
  <% end %>
</div>
